---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script
      src="https://kit.fontawesome.com/f75d956e91.js"
      crossorigin="anonymous"></script>
    <title>devDesigns- by Elsa</title>
  </head>

  <body class="text-onyx">
    <div id="slot-container" class="">
      <slot />
    </div>
  </body>
</html>
