---
import LeftPanel from "../components/LeftPanel.astro";
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout>
  <LeftPanel />
  <div id="markdown-post" class="text-lg 2xl:p-5">
    <div
      id="right-side-markdown-container"
      class="bg-rosyBrown text-white border-l border-onyx h-screen md:absolute relative right-0 md:w-3/5 w-full overflow-y-scroll overflow-x-hidden 2xl:p-5 md:p-3"
    >
      <section class="bg- 2xl:p-5 p-2 md:mx-5 mx-1">
        <div class="bg- flex flex-col-reverse">
          <img
            src={frontmatter.image.url}
            alt=""
            class="w-[1100px] drop-shadow-md border border-gray-300 rounded mt-3"
          />
          <div class="mt-5 pt-5 2xl:pl-4">
            <h1 class="text-4xl font-">{frontmatter.title}</h1>
            <p class="pt-1 pr-2 md:pl-1 text-lg">
              {frontmatter.testItem1}
            </p>
            <div class="text-gray-600 pl-1 mt-4 hover:underline">
              <a
                class="bg-rosyBrown text-aliceBlue px-2 pb-1 rounded"
                href={frontmatter.websiteUrl}
              >
                view website</a
              >
            </div>
          </div>
        </div>
        <div id="website-content" class="pl-5 2xl:w-3/4 pt-4 dropshadow-3xl">
          <div class="pt-2 opacity-80 text-lg">
            <h2 class="text-3xl pt-5 mt-5 text-onyx font-">
              Where the site is so far...
            </h2>
            <slot />
          </div>
        </div>
      </section>
    </div>
  </div>
</MainLayout>
