---

---

<div
  id="contact"
  class="bg- opacity-90 rounded text-black border border-onyx 2xl:mt-5 px-5 mb-[100px]"
>
  <div id="contact-container" class="my-5">
    <div id="contact-grid" class="flex flex-col bg-">
      <div id="sq1" class="bg-test pl-1">
        <p class="pt-1 text-xl font-semibold">
          You can contact me by emailing:<span class="">
            <a
              class="font-extrabold text-munsell hover:opacity-80"
              href="mailto:elsahovey@gmail.com">elsahvy@gmail.com</a
            >
          </span>
        </p>
        <p class="bg-test bg- pl-1 pt-1 opacity-85 pr-5">
          I am always looking for opportunities to further my skills... and to
          work with other like-minded people in tech. Email is the best way to
          get in touch, you can also find me at <span class="underline">
            <a href="https://www.instagram.com/elsahoveydevdesign/">instagram</a
            >
          </span> and <span class="underline">
            <a href="https://www.linkedin.com/in/elsa-hovey.com">
              linkedIn
            </a></span
          >
        </p>
      </div>
    </div>
  </div>
</div>
