---

---

<section id="ABOUT-SECTION" class="x-1">
  <div id="about-section-content-container" class="pl-2 pt-2 pr-1">
    <h1
      id="laughing-coyote-dev"
      class="pl-1 2xl:text-4xl text-3xl font-semibold"
    >
      Laughing Coyote Dev
    </h1>
    <section class="pl-1 bg-" id="PRODUCT DEFINITION">
      <!-- <h2 class="pt-5">PRODUCT DEFINITION</h2> -->
      <p>
        My featured website is aservice for small businesses and creatives. I
        help small business owners start and maintain their websites, along with
        content creation. and a way to push my creativity to the limits, all
        while exploring side hustle potential. My days are spent creating niche
        websites and solutions for small business owners and creatives.
      </p>
      <p>
        sanity api- astro, react comps templates for small businesses, different
        layouts…. move back to one page site
      </p>

      <p class="pt-2">
        Laughing Coyote-- <span class="font-bold">About </span> ::: a digital creative
        studio where clients' visions (userstories??) are translated into vivid,
        handcrafted websites.
      </p>
      <p>
        NEW FOCUS: "bringing more colors and creativity to the world"- roof
        (write more about styles of roofs" pup, carnivore, wtbh, rq
      </p>
      <p>
        Most web design services focus on tech, speed, or business optimization.
        Few lean into artisanal design, emotional storytelling, and cozy
        aesthetics the way this concept (lc) does.
      </p>
      <p>
        designed to reduce cognitive overload, maintain focus, and make
        navigation intuitive for users with attention differences.
      </p>
    </section>

    <a
      href="https://laughingcoyote.dev"
      <a
      target="_blank"
      rel="noopener noreferrer"
      href="/featured-work"
      >>
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=1nuybim1&dl=0"
        alt=""
        class="border border-gray-300 my-2 mt-5"
      />
    </a>

    <section class="py-3 pl-1" id="TARGET AUDIENCE">
      <h2>TARGET AUDIENCE</h2>
      <p>The people I'm looking to serve...</p>
      <p class="bg-">
        Unique Selling Point: You're not just designing websites—you’re
        co-creating digital homes for passionate people. You get their creative
        process because you share it. More than just a website, a viewing
        experience that conveys your message.
      </p>
    </section>
  </div>
</section>
