---
const websiteImages = [
  {
    item: "https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    item: "https://dl.dropboxusercontent.com/scl/fi/g23z3n6u9joennznyqxc4/lc-9-20-24.png?rlkey=q75joo6od6ixkfoxr9q57kfkb&st=19kz2kwm&dl=0",
  },
  {
    item: "https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0",
  },
  {
    item: "https://images.pexels.com/photos/2893525/pexels-photo-2893525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
];
---

<div id="websites-grid-wrapper" class="m-5 my-[50px] px-5 pl-1">
  <div
    id="HIGHLIGHTS THE KEYFEATURES AND AUDIENCE MESSAGE SECTIONS"
    class="my-5 py-5 mt-5"
  >
    <div id="websites-grid" class="grid lg:grid-cols-2 gap-12 mt-5 my-5 py-5">
      <!-- TODO: THESE IMAGES WILL BE PREVIEWS FOR THE FEATURED WEBSITES ON LC! A ONE -AGE GLANCE AT THESE WORKS -->
      {
        websiteImages.map((websiteImage) => (
          <div class="">
            <img class="border border-onyx" src={websiteImage.item} alt="" />
          </div>
        ))
      }
    </div>
  </div>
</div>
