---
const today = new Date();
---

<footer
  id="projects-footer"
  class="border-t border-r rounded-tr-sm border-black pr-1 md:opacity-60 opacity-100 md:bg-aliceBlue bg-munsell"
>
  <p class="absolute bottom-0 left-0 md:text-md text-sm">
    &copy; {today.getFullYear()}
  </p>
</footer>
