---
import { FaLinkedinIn, FaGithub } from "react-icons/fa";
import { MdOutlineEmail } from "react-icons/md";
---

<header class="">
  <div
    id="logo"
    class="text-black-400 lg:text-9xl text-7xl pb-1 text-onyx opacity-90"
  >
    <a href="/"> Elsa <br /> Hovey</a>
  </div>

  <div
    id="icons-container"
    class="border-t border-b border-black py-1 mt-2 ml-1 w-[110px]"
  >
    <div class="flex space-x-2 text-2xl pt- pl-2 opacity-90">
      <div class="opacity-100">
        <a href="/#contact">
          <MdOutlineEmail />
        </a>
      </div>
      <div class="opacity-90">
        <a href="https://github.com/elsahv">
          <FaGithub />
        </a>
      </div>
      <div class="opacity-80">
        <a href="https://linkedin.com/in/elsa-hovey">
          <FaLinkedinIn />
        </a>
      </div>
    </div>
  </div>
</header>
