---
import MainLayout from "../layouts/MainLayout.astro";
import AboutSection from "../components/lc-tests/AboutSection.astro";
import MainGoals from "../components/lc-tests/MainGoals.astro";
import KeyFeatures from "../components/lc-tests/KeyFeatures.astro";
import WebsitesGrid from "../components/lc-tests/WebsitesGrid.astro";
import LeftPanel from "../components/LeftPanel.astro";
---

<MainLayout>
  <div id="flex" class="flex lg:flex-row flex-col">
    <LeftPanel />
    <div
      id="right-side-markdown-wrapper"
      class="flex justify-center bg-munsell text-aliceBlue border-l border-onyx md:h-screen h-full md:absolute relative right-0 md:w-3/5 overflow-y-scroll overflow-x-hidden 2xl:p-5 md:p-3 2xl:ml-[50px] 2xl:pl-[50px] bg-"
    >
      <div
        id="right-side-markdown-container"
        class="md:p-5 2xl:ml-[50px] 2xl:mr-[151px]"
      >
        <AboutSection />
        <MainGoals />
        <KeyFeatures />
        <WebsitesGrid />
      </div>
    </div>
  </div>
</MainLayout>
